.ul{
    display: flex;
    background-color: lightgray;
    margin-top: 0;
    font-size: 20px;
}

.ul>li{ 
    padding: 20px;
    list-style: none;
}

@media only screen and (max-width: 600px) {
    .ul {
      background-color: lightgray;
      display: flex;
      flex-direction: column;
    }
  }